body{
    margin : 10%;
}
.tl{
    font-weight : bold;
}
figure{
    float : right;
    border : solid 1px black;
    margin : 10px;
}


.irum{
    text-align : center;
    background-color : cornsilk;
}

#TW_FG{
    font-size : 30px;
}
